@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
	scroll-behavior: smooth;

}
body {
		background-color: #F9FDFA;
}

/*********************************************************************************/
/* НАВ-БАР                                                                       */
/*********************************************************************************/
.navbar {
position: fixed;
top:0;
padding: 0rem 0.1875rem 0rem 0.9375rem;
border-bottom: 1px solid rgba(255, 255, 255, 0.15);
width: 100%;

}


.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    position: absolute;
	left: 0;
	margin: 0 0 0 23px;
}


.navbarScroll {
    z-index: 111;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
    border-bottom: 1px solid #e3e6f0;
	position: fixed;
    top: 0;
    padding: 0rem 0.1875rem 0rem 0.9375rem;

   
}

.navbar-brand {
	
	border-right: 1px solid rgba(255, 255, 255, 0.15);
	
}

.navbar-brandScroll {

	border-right: 1px solid #e3e6f0;
	display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
	
}

.nav-icon {
	border-left: 1px solid rgba(255, 255, 255, 0.15);
	list-style: none;
	padding-top: 22px;
    padding-bottom: 20px;
	padding-left: 15px;
    margin-bottom: 0px;
	
}
.nav-iconScroll {
	border-left: 1px solid #e3e6f0;
	list-style: none;
	padding-top: 23px;
    padding-bottom: 21px;
	padding-left: 15px;
    margin-bottom: 0px;
}

.icon-item {
	margin: 0px 11px 0px 0px;

}

.nav-button {
	margin: 13px 20px 0px 0px;
}

.nav-item {
	margin: 0px 36px 0px 0px;
}


.bg-light {
    background-color: rgba(239, 242, 246, 0.95)!important;
	    transition: background-color 0.3s ease-in-out;
}

.btn {
    display: inline-block;

	width: 98px;
	height: 44px;
 
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    border: 2px solid #21C87A;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-success {
    color: #fff;
    background-color: #21C87A;
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
text-align: center;
}

#navbar-brand > img {
	height: 70px;
	width: 170px;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-light .navbar-nav .nav-link { 
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;
	 color:#6FC28A!important;
padding: 1.375rem 0rem;
}

.navbar-expand-lg .navbar-collapse {

    flex-basis: unset;
}

/*********************************************************************************/
/* НАВБАР ДЛЯ ЕКРАНІВ                                                             */
/*********************************************************************************/

@media only screen and (max-width: 993px) {
	
	.navbar-brand {
    margin-left: auto;
    margin-right: auto;
	}
	
	.navbar-brandScroll {
	margin-left: auto;
    margin-right: auto;
	}
	
	.navbar {
	border-bottom: 0px solid rgba(255, 255, 255, 0.15);
	}
	.nav-icon {
	border-left: 0px solid rgba(255, 255, 255, 0.15);
	position: absolute;
    right: 0;
	}	
	.nav-iconScroll {
	border-left: 0px solid #e3e6f0;
position: absolute;
    right: 0;
	}
	
	.navbar-brand {
	border-right: 0px solid rgba(255, 255, 255, 0.15);
}


.navbar-brandScroll {
	border-right: 0px solid #e3e6f0;
}

#nav-search {
	display:none;
}

.row {
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
	flex-direction: column;

}


.carousel-list {
    display: block!important;
    margin: 0px 189.60px;
    padding: 0px 15px;
}
	

}


/*********************************************************************************/
/* Будівництво                                                             */
/*********************************************************************************/

.build-back {
	background-image: url(../img/house5.jpg);
	height: 700px;
	   background-size: cover; /* Масштабируем фон */
	   background-repeat: no-repeat;
	   
}

.build-txt {
	    
   
 
}

.build-txt h1 {
text-align: center;
border-bottom: 3px solid #6FC28A;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
    color: #6FC28A;
	padding: 20px 0px 10px 0px;
 width: 60%;
 margin-left: auto;
    margin-right: auto;
}

.build-txt p {
text-align: center;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
  color: #6FC28A;
  padding: 10px 0px;
  width: 50%;
      margin-left: auto;
    margin-right: auto;
}

.build-ico {
display: flex;
justify-content: space-around;
padding: 20px 0px;
color: #6FC28A;
align-items: flex-end;
flex-wrap: wrap;
}

.build-ico p {
    text-align: -webkit-center;
}




/*********************************************************************************/
/* Сервіс                                                             */
/*********************************************************************************/


.service {
background: linear-gradient( rgb(111, 194, 138, 0.5) 100%, rgba(111, 194, 138, 0.5)100%), url(../img/texture1.jpg);
	height: 740px;
	   background-size: cover; /* Масштабируем фон */
	   background-repeat: no-repeat;
	   
	   padding: 84px 0px 0px 0px;
}


.serviceh1 {
	width: 37%;
color: #fff;
 margin-left: auto;
    margin-right: auto;
	border: 4px solid #fff;
	text-align: center;
	padding: 10px 0px;
}

.service-ico {
	display: flex;
    justify-content: center;
padding: 10px 0px;
}

.service-ico > p {
	color: #fff;
	width: 35%;
	display: inline-block;
	    padding: 0px 0px 0px 31px;
}


.service-info {
	margin-top: 60px;
}





/*********************************************************************************/
/* Слайдер                                                            */
/*********************************************************************************/


/* Position the image container (needed to position the left and right arrows) */
.containerh1{
 text-align: center;
font: Bold 24px/27px Open Sans;
letter-spacing: 0;
color: #6FC28A;
text-transform: uppercase;
opacity: 1;
padding: 30px 0px;
}

.containers {
  position: relative;
      width: 99%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  
  justify-content: center;

}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    margin-top: 10px;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: #fff;
  color: #000;
  border-radius: 30px;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  width: 101%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



body > div.containers > div:nth-child(n) > img
	{
		height: 450px;
    
	}

/* Six columns side by side */
.containers .row {
 display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-around;
}
.column {
  
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/*********************************************************************************/
/* Контакти                                                            */
/*********************************************************************************/

.contact {
background: linear-gradient( rgb(111, 194, 138, 0.5) 100%, rgba(111, 194, 138, 0.5)100%), url(../img/texture3.png);
	height: 840px;
	   background-size: cover; /* Масштабируем фон */
	   background-repeat: no-repeat;
	       margin: 40px 0px;
	   padding: 84px 0px 0px 0px;
}


.contact .container .row {
justify-content: center;
}


.contacth1 {
	width: 60%;
color: #fff;
 margin-left: auto;
    margin-right: auto;
	border: 4px solid #fff;
	text-align: center;
	padding: 10px 0px;
}



.txtcol {
    
padding: 25px 0px;
font-family: SemiBold 18px/30px Open Sans;
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
}

.txtnum {
	width: 45px;
height: 45px;
	letter-spacing: 0;
color: #6FC28A;
text-align: -webkit-center;
border-radius: 115px;
	display: inline-block;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

.txtnum span{
position: relative;
    top: 20%;
}


.btnc {
	color: rgb(111, 194, 138);
	background-color: #fff;
}


.contactend {
	    padding: 87px 0px;
	
	
	
}


.contactend .row {

}

.textcon {
	text-align: left;
font: SemiBold 18px/30px Open Sans;
letter-spacing: 0;
color: #6FC28A;
opacity: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
}


footer {
		border-top: 3px solid #6FC28A;
	text-align: center;
font: Medium 14px/17px Helvetica Neue;
letter-spacing: 0;
	color: #6FC28A;
	padding: 30px 0px;
	    width: 70%;
	margin-left: auto;

    margin-right: auto;
}


@media only screen and (max-width: 768px) {
	
	.build-back {
    background-image: url(../img/house5.jpg);
    height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
}
	.txtcol {
    /* padding: 25px 0px; */
    font-family: SemiBold 18px/30px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
	
	.contact .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
}
	body > div.containers > div.row {
	
    flex-direction: row;
		
	}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45px;
    width: auto;
    padding: 0x 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
	.next {
    right: 0;
    top: 45px;
    border-radius: 3px 0 0 3px;
}
	
	body > div.containers > div:nth-child(n) > img
	{
		height: 100%;
    width: 100%;
	}
	
	.build-txt h1 {
    text-align: center;
    border-bottom: 3px solid #6FC28A;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #6FC28A;
    padding: 20px 0px 10px 0px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
	
	#contactend > div > div > div:nth-child(2) {
		flex: 0 0 50%;
    max-width: 100%;
		
	} 
	
	.containers {
    position: relative;
    width: 95%;
}
	
	#contactend > div > div > div.col-6.textcon {
		flex: 0 0 50%;
    max-width: 90%;
	}
	
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
	
	.build-txt p {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #6FC28A;
    padding: 10px 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.serviceh1 {
    width: 85%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #fff;
    text-align: center;
    padding: 10px 0px;
}

.service-ico > p {
    color: #fff;
    width: 100%;
    display: inline-block;
    padding: 0px 0px 0px 31px;
}

.service {
    background: linear-gradient( rgb(111, 194, 138, 0.5) 100%, rgba(111, 194, 138, 0.5)100%), url(../img/texture1.jpg);
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 84px 0px 0px 0px;
}


.contacth1 {
    width: 90%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #fff;
    text-align: center;
    padding: 10px 0px;
}

.txtcol {
    /* padding: 25px 0px; */
    font-family: SemiBold 18px/30px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

footer {
    border-top: 3px solid #6FC28A;
    text-align: center;
    font: Medium 14px/17px Helvetica Neue;
    letter-spacing: 0;
    color: #6FC28A;
    padding: 30px 0px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.contact {
    background: linear-gradient( rgb(111, 194, 138, 0.5) 100%, rgba(111, 194, 138, 0.5)100%), url(../img/texture3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 84px 0px 0px 0px;
    height: fit-content;
}

}



.scroll-top {
	position: fixed;
	right: 20px;
	bottom: 10px;
	
}








